@tailwind base;
@tailwind components;
@tailwind utilities;

.transform1 {
  transform: translateZ(calc(-30px)) translateY(calc(-20px)) rotate(calc(-4deg));
}

.transform2 {
  transform: translateZ(calc(-60px)) translateY(calc(-40px)) rotate(calc(-8deg));
}

.transform3 {
  transform: translateZ(calc(-90px)) translateY(calc(-60px))
    rotate(calc(-12deg));
}
